:root {
  /* definindo variaveis */
  --corLink: #fff;
  --corLinkHover: #aaa;
}

* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0 ;
  list-style: none;
  text-decoration: none;
  list-style-type: none;
  border: none;
  font-size: 14px;
}


body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--corLink);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link{
  color: var(--corLink) !important;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.wrapper-col-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*MAIS VENDIDOS*/
.wrapper-col-mv{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.card-prod-img-mv {
  width: 100%;
  height: 30vh;
}

/*##################*/
.caption {
  padding: 1.5rem;
  background: #0d6efd;
  margin-top: 1rem;
  color: #fff;
}

.wrapper-categoria {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.wrapper-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 15vw;
}

.wrapper-menu a {
  color: rgb(1, 2, 41);
}

.lista-categoria {
  display: flex;
  flex-direction: column;
}

.wrapper-cards {
  display: flex;
  border: 1px solid red;
  width: 60vw;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card{
  display: flex;
  flex-direction: row;
}

.card-prod {
  margin: .5rem;
}

.card-prod-img {
  width: 20vw;
  height: 60vh;
}

.card-body {
  padding: 0 !important;
}

.descricao{
  padding: 1rem 2rem;
}

.wrapper-pagination{
  display: flex;
  justify-content: center;
  margin: 2rem;
}


.btn {
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--corLink);
}

.btn:hover {
  color: var(--corLinkHover);
  font-weight: bold;
  transition: 0.3s;
}

.wrapper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.footer-menu {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

ul li {
  display: inline;
}

/* fim owl */

@media (max-width: 530px) {
}

.h-80 {
  height: 80vh;
}

.logo {
  width: 15vw;
  height: 15vh;
}

@media (max-width: 560px) {
  .logo {
    width: 18vw;
    height: 18vh;
  }
}

@media (min-width: 960px) {
  .logo {
    width: 15vw;
    height: 18vh;
  }
}
